[Unit]
Description=Firmware Sanity Monitor service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/fscMonitor -LOGFILE /rdklogs/logs/FSC.log &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=ccspCr-started.target
