[Unit]
Description=Firmware Sanity Monitor service
After=CcspCrSsp.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/fscMonitor &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=ccspCr-started.target
